<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Shopping List App</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="main.css">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div id="shopping-list">
            <h1>{{title.toLocaleUpperCase()}}</h1>
            <button v-if="state === 'default'" class="btn btn-primary" v-on:click="changeState('edit')">Add Item</button>
            <button v-else="state === 'default'" class="btn btn-cancel" v-on:click="changeState('default')">Cancel</button>
            <div v-if="state === 'edit'" class="add-item-form">
                <input v-model="newItem" type="text" placeholder="Add an Item" v-on:keyup.enter="saveItem" >
                <button v-on:click="saveItem" v-bind:disabled="newItem.length === 0" class="btn btn-primary">Submit</button>
            </div>
            <ul>
                <li v-for="item in items" :class="[item.purchased ? 'strikeout' : '',  'priority']" v-on:click="togglePurchase(item)">{{item.label}}</li>
            </ul>
            <p v-if="items.length === 0">No more items left to buy</p>
        </div>
        <script src="" async defer></script>
        <script src="https://unpkg.com/vue"></script>
        <script>
            new Vue({
                el:"#shopping-list",
                data: {
                    state: 'default',
                    title:"Shopping List App",
                    newItem: ' ',
                    items: [
                        {
                            label: 'Hats',
                            purchased: false
                        },
                        {
                            label: 'Sweaters',
                            purchased: true
                        },
                        {
                            label: 'Shoes',
                            purchased: false
                        }
                    ]
                },
                methods: {
                    saveItem: function() {
                        this.items.push({
                            label: this.newItem,
                            purchased: false
                        });
                        this.newItem = '';
                    },
                    changeState: function(state) {
                        this.state = state;
                        this.newItem = ' ';
                    },
                    togglePurchase: function(item){
                        item.purchased = !item.purchased; 
                    }
                }
                
            });
        </script>
    </body>
</html>